body {
    position: relative;
    background: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #F0F0F0;
}

.frame {
    position: absolute;
    width: 657px;
    height: 216px;
    left: 34%;
    top: 80px;
}

/*@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}*/

/*
.rectangle {
    position: absolute;
    top: -60px;
    left: 312px;
    width: 32px;
    height: 32px;
    background: #F0F0F0;
    animation: spin 50s linear infinite;
}*/

.count {
    width: 657px;
    height: 50px;
    letter-spacing: -0.035em;
    color: #e82828;
    font-weight: 700;
    font-size: 20px;
}

/*.chat {
    width: 657px;
    height: 8px;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: -0.035em;
}*/